.inventory-view {
  display: block;
  height: 100%;
}
.inventory-view vaadin-grid-pro {
  height: 100%;
}
.inventory-view vaadin-grid-filter,
.inventory-view vaadin-grid-filter > * {
  width: 100%;
}
.inventory-view vaadin-grid-pro vaadin-horizontal-layout {
  align-items: center;
}
.inventory-view vaadin-grid-pro img {
  border-radius: 50%;
  flex-shrink: 0;
  height: var(--lumo-size-m);
  width: var(--lumo-size-m);
}
.inventory-view .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge-premix {
  text-align: center;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fdecef;
  color: #d6336c;
}

.badge-misc {
  text-align: center;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #e6eaf2; 
  color: #364a6d; 
}

.badge-beer {
  text-align: center;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fef3e6; 
  color: #ff7f0e; 
}

.badge-spirit {
  text-align: center;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #e6f7ff; 
  color: #0099ff;
}

.badge-wine {
  text-align: center;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #e7e1f9;
  color: #8a4baf;
}
