.shopping-lists-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.shopping-lists-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.shopping-lists-view vaadin-grid {
  height: 100%;
}

.shopping-lists-view .editor-layout {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.shopping-lists-view .editor {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.shopping-lists-view .editor vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.shopping-lists-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}

.shopping-lists-view .grid-wrapper {
  width: 100%;
}

/* styles/shopping-lists-styles.css */
.shopping-lists-view .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Aligns items to the start to avoid stretching the last row */
  align-content: flex-start; /* Ensures content is aligned at the start and does not stretch */
  margin: 0 auto;
  width: 100%;
}

.shopping-lists-view .card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 15px;
  flex: 0 0 calc(33% - 50px); /* Prevents cards from growing and only taking up their exact space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopping-lists-view .card_button {
  margin: 10px;
  border: 1px solid #363665;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  flex: 0 0 calc(33% - 50px); /* Prevents cards from growing and only taking up their exact space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopping-lists-view .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.shopping-lists-view .date {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (min-width: 700px) and (max-width: 1400px){ /* Medium screens */
  .shopping-lists-view .card {
    flex: 0 0 calc(49% - 50px); /* Prevents cards from growing and only taking up their exact space */
  }
}


@media (max-width: 700px) { /* Small screens */
  .shopping-lists-view .card {
      flex: 1 1 99%; 
  }
}


