:root {
  --lumo-letter-spacing: 0.39px;
  --lumo-border-radius-xl: 2em;
  --lumo-blur: blur(25px);
}

vaadin-app-layout {
  background: url("VAADIN/themes/liquor-store/img/nav-bg.png") lightgray 0% / cover no-repeat;
}

vaadin-app-layout::part(navbar) {
  border: 0 solid;
  padding: var(--lumo-space-m) var(--lumo-space-xl) var(--lumo-space-m) var(--lumo-space-l);

  /* Glass Effects */
  box-shadow: var(--lumo-box-shadow-m);
  backdrop-filter: var(--lumo-blur);
}

vaadin-app-layout:not([overlay])[drawer-opened]::part(navbar) {
  border-radius: var(--lumo-border-radius-xl) 0 0 0;
}

vaadin-horizontal-layout[slot="navbar"] .left-layout {
  gap: 0;
}

.right-layout,
.right-layout vaadin-horizontal-layout  {
  gap: var(--lumo-space-m)
}

.right-layout vaadin-vertical-layout {
  gap: 0;
}

.theme-toggle,
vaadin-drawer-toggle {
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}

vaadin-drawer-toggle::part(icon) {
  color: var(--lumo-secondary-text-color);
}

vaadin-app-layout::part(drawer) {
  background: transparent;
  border: 0 solid;
  padding: var(--lumo-space-s) var(--lumo-space-m);
  gap: var(--lumo-space-xl);
}

vaadin-scroller[slot="drawer"] {
  background: transparent;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  justify-content: center;
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
  background: transparent;
  padding-top: var(--lumo-size-s);
}

.logo {
  width: calc(147px * 1.2);
  height: calc(30px * 1.2);
  color: var(--lumo-body-text-color);
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

vaadin-side-nav-item::part(content) {
  background: transparent;
}

vaadin-side-nav-item[current] {
  background: var(--lumo-contrast-10pct);
  
  /* Glass Effects */
  box-shadow: var(--lumo-box-shadow-xl);
  backdrop-filter: var(--lumo-blur);
}

vaadin-side-nav-item {
  background: transparent;
  border-radius: var(--lumo-border-radius-m);
  margin-bottom: var(--lumo-space-xs);
}

vaadin-side-nav-item::part(content) {
  color: var(--lumo-body-text-color);
}

vaadin-side-nav-item > vaadin-icon {
  padding: var(--lumo-space-xs);
}

vaadin-side-nav-item > vaadin-icon[icon^="lumo"] {
  padding: 0;
}

.nav-wrapper {
  gap: var(--lumo-space-l);
}

vaadin-app-layout[overlay][drawer-opened]::part(drawer) {
  background: var(--lumo-contrast-10pct);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
}

vaadin-app-layout::part(backdrop) {
  background: transparent;
}